<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yepo</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%=campground.image%>" alt="Card image top">
                <div class="card-block">
                    <div class="card-title row justify-content-between">
                        <div class="col-md-4">
                            <h4><%=campground.name%></h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-right">$9.00/night</h4>
                        </div>
                    </div>
                    <p class="card-text"><%=campground.description%></p>
                </div>
            </div>
            <div class="card card-outline-primary" style="margin-top: 20px">
                <div class="card-header text-right">
                    <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add New Comment</a>
                </div>
                <div class="card-block">
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row justify-content-between">
                                    <div class="col-md-4">
                                        <strong><%=comment.author%></strong>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="text-right">10 days ago</p>
                                    </div>
                                </div>
                                <p>
                                    <%=comment.text%>
                                </p>
                            </div>
                        </div>
                        <hr>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>
